.main {
    background-color: hsla(113, 20%, 9%, 0.88);
    max-width: fit-content;
    max-height: fit-content;
    padding: 20px;
    margin: 20px;
    border: 2px solid hsla(113, 20%, 9%, 0.75);
}

nav {
    width: 100vw;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
}
