.cutoffs {
    display: flex;
    gap: 4rem;
    flex-direction: column;

}

@media (min-width: 800px) {
    .cutoffs {
        flex-direction: row;
    }
}

.cutoffs>* {
    flex-basis: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    margin-top: 30px;
    border-top: 1px solid white;
}

@media (min-width: 800px) {
    .info {
        flex-direction: row;
    }
}

.info>* {
    flex-basis: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.info ul {
    list-style-type: none;
    padding-right: 30px;
}

.title {
    font-size: 25px;
}

.info p {
    text-align: center;
    max-width: 400px;
    margin-top: 20px;
}

.seasonaltable {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.95em;
    border-radius: 5px 5px 5px 5px;
    color: white;
}

.seasonaltable thead tr {
    background-color: hsla(103, 84%, 58%, 0.1);
    color: white;
    font-weight: bold;
}

.seasonaltable th,
.seasonaltable td {
    padding: 12px 15px;
}

.seasonaltable tbody tr {
    border-bottom: 1px solid black;
}

.seasonaltable tbody tr:nth-of-type(even) {
    background-color: hsla(103, 84%, 58%, 0.1);
}

.seasonaltable tbody tr:last-of-type {
    border-bottom: 1px solid black;
}