.laddertable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.85em;
    min-width: 1500px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    color: white;
}

.laddertable thead tr {
    background-color: hsla(103, 84%, 58%, 0.1);
    color: white;
    font-weight: bold;
}

.laddertable th,
.laddertable td {
    padding: 7px 15px;
}

.laddertable tbody tr {
    border-bottom: 1px solid black;
}

.laddertable tbody tr:nth-of-type(even) {
    background-color: hsla(103, 84%, 58%, 0.1);
}

.laddertable tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

.nameAndMembers {
    text-align: left;
}

