.ladderentry {
    padding: 12px 15px;
    text-align: center;
}

.red {
    color: rgba(255, 0, 0, 0.781);
    text-decoration: none;
}

.blue {
    color: rgb(0, 110, 255);
    text-decoration: none;
}

img {
    width: 1.5rem;
    padding: 0 5px 0 0;
}

.teamMembers {
    max-width: 500px;
    text-align: left;
    text-decoration: none;
}

.team {
    text-align: left;
}

.class {
    text-decoration: none;
}
